<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>064D585B1E865836F2DC8F9181A55207</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
